@import url('https://fonts.googleapis.com/css2?family=Comfortaa&display=swap');



.body{
    font-family: 'Comfortaa', cursive;
}

.container{
    border: 1px solid black;
    width: 95%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}


.hex-colors{
    border: 1px solid black;
}

.hex-colors h1 {
    font-size: 2rem;
    text-transform: uppercase;
    animation: colorchange 5s infinite alternate;
    font-family: 'Comfortaa', cursive;
}

.hex-colors h2{
    border: 1px solid black;
    font-size: 2rem;
    margin-top: 15%;
    font-family: 'Comfortaa', cursive;
}


@keyframes colorchange{
    0%{
        color: red;
    }
    20%{
        color: orange;
    }
    40%{
        color: yellow;
    }
    60%{
        color: green;
    }
    80%{
        color: blue;
    }
    100%{
        color: purple;
    }
}

@media(max-width: 480px){
    .hex-colors h1{
        font-size: 1.5rem;
    }
    .hex-colors h2{
        font-size: 1.5rem;
    }
}
